/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 div#forms2db-fields-container {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #cacaca;
}

 .forms2db-field-container {
    border: solid #b3b3b3 1px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    height: 41px;
    overflow: hidden;
    cursor: grabbing;
}

.forms2db-field-container.active {
    height: 100%;
}

.forms2db-field-toggle span.active {
    transform: rotate(90deg);
}

.forms2db-fields-row {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.forms2db-fields-col {
    position: relative;
    min-width: 100px;
}

.forms2db-fields-col .inner-col {
    padding: 3px 4px;
}

.forms2db-fields-col .inner-col input[type=text], .forms2db-fields-col select, .forms2db-fields-col textarea {
    width: 100%;
    border-color: #cacaca;
}

#form2db-form-shortcode-conteiner {
    background: #dadada;
    padding: 10px;
    border: solid #b1b1b1;
    position: relative;
    cursor: pointer;
}

.copier {
    position: absolute;
    right: 10px;
    top: 12px;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%;
}

.col-10 {
    width: 83.3%;
}

.col-12 {
    width: 100%;
}

label {
    font-weight: 700;
}

.forms2db-field-header {
    position: relative;
    background: #eee;
    margin: -5px;
    padding: 10px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: #b7b7b7 solid 1px;
    margin-bottom: 4px;
}

.forms2db-field-actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;

}

.forms2db-field-actions span {
    font-size: 1.4rem;
    margin: 0 0.5rem 0 0;
    color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

span.circle {
    border: #707070 2px solid;
    font-size: 0.7em;
    border-radius: 1em;
    height: 0.9em;
    width: 1em;
    text-align: center;
    font-weight: 700;
    padding-bottom: 0.1em;
}

.block {
    display: block;
}

.text-right {
    text-align: right;
}